<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Lewis</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
        <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    </head>
    <body ng-controller="ListCtrl">
        <ons-page>
            <ons-toolbar>
                <!-- title -->
                <div class="center">Input</div>
            </ons-toolbar>

            <!-- メイン -->
            <div style="text-align: center; margin-top: 30px;">

            </div>
        </ons-page>
        <ons-modal direction="up">
            <div style="text-align:center">
                <div id="error"></div>
            </div>
        </ons-modal>
    </body>
</html>
