{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
	<style>
	@import url('https://fonts.googleapis.com/css?family=Bitter:700');
		.page__background {
			background-image: url("https://www.pakutaso.com/shared/img/thumb/PAK83_500encointachi20140305_TP_V4.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;
			opacity: 0.8;
		}
		h1{
			font-size: 150%;
			color:black;
		}
		p{
			color:black;
			letter-spacing:2px
		}
	</style>
	<ons-page>
		<!--<div class="page-header text-center">-->
		{% include 'menu/menu.twig' %}
			
		<div class="text-center">
			<h1 style="font-family: 'Bitter', serif;font-size: xx-large;">Sukkiri Suica.</h1>
			<p>ICカードや小銭を0に出来る！</p>
			<p>新感覚組み合わせ検索アプリ！</p>
		</div>
		<div class="container">
			<div class="box">
				<div class="row">
					<!--<div class="col-md-4 col-md-offset-4">-->
					<div style="text-align: center; margin: 30px 15px;">
						<form id="sukkiri" method="POST" action="/results/" onSubmit="return SukkiriBar()">
							<div class="form-inline" style="padding-bottom:30px">
								<!--<label for="value">スッキリさせる金額</label>-->
								<!-- <input type="text" class="form-control" id="value" placeholder=""> -->
								<ons-input id="value" name="zangaku" type="number" placeholder="" modifier="underbar" float="float" style="background-color:white;opacity:0.5;border-radius:100px;padding-left:20px;vertical-align:middle;"></ons-input>
								<label style="vertical-align:middle">円を</label>
							</div>
							<!--<button type="submit" class="btn btn-primary btn-lg btn-block">スッキリ</button>-->
							<button modifier="large" type="submit" class="btn btn-primary btn-lg btn-block">スッキリ！</button>>
						</form>
					</div>
				</div>
			</div>
		</div>
	</ons-page>
	<script>
		var SukkiriBar = function(){
			var v = document.getElementById('value').value;
			if(v.length >= 4){
				ons.notification.alert('1000円以上の金額では使用出来ません。普通に使いましょう。');
				return false;
			}else{
				return true;
			}
		};
	</script>
{% endblock %}