{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <style>
        .page__background {
            background-image: url("https://www.pakutaso.com/shared/img/thumb/PAK83_500encointachi20140305_TP_V4.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            opacity: 0.6;
        }
    </style>

    <template id="template.html">
        <ons-page>
            <div class="left">
                <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu" size="2x"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="page-header text-center">
                <h1>スッキリSuica</h1>
                <p>～残高0の幸せ～</p>
            </div>

            <br>
            <div style="text-align: center; margin-top: 30px;">
                <form method="GET" action="/results/">
                    <div class="form-inline" style="padding-bottom:30px">
                        <ons-input id="value" type="number" placeholder="" modifier="underbar" float="float"></ons-input>
                        <label>円を</label>
                    </div>
                    <ons-button modifier="large" type="submit" class="btn btn-primary btn-lg btn-block">スッキリ！</button>
                </form>
            </div>
        </ons-page>
    </template>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}